:root {
  --radius:1px;
  --visborder: 2px;
  --viscolor: #d8d8d8;
}
html, body, #map {
  width: 100%;
  height: 1000px;
  margin: 0;
  padding: 0;
}
.stations, .stations svg {
  position: absolute;
}
.stations svg {
  width: 100px;
  height: 30px;
  padding-right: 100px;
  font: 10px sans-serif;
  scroll-behavior:
}
.stations circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
  transform: scale(1.5);
}
.navigation {
  padding-left: 100px;
}

#widgets > [data-reactroot] { height: 0px; }

#lowdate_label {
  position:relative;
  float: left;
  top: 977px;
  left: -125px;
  z-index: 20;
}

#lowdatetimepicker {
  position:relative;
  float: left;
  top: 970px;
  left: -120px;
  z-index: 20;
}

#highdate_label {
  position:relative;
  float: left;
  top: 977px;
  left: -80px;
  z-index: 20;
}

#highdatetimepicker {
  position:relative;
  float: left;
  top: 970px;
  left: -75px;
  z-index: 20;
}

#realTimeSubBttn {
  position:relative;
  /*float: left;*/
  width: 80px;
  top: 602px;
  left: 644px;
  z-index: 20;

}

#column_selector {
  position:relative;
  float: left;
  top: 970px;
  right: 0px;
  z-index: 20;
}

#colselect_label {
  padding-top: 7px;
  padding-right: 5px;
  float: left;

}

#hexselector_label {
  position:relative;
  float: left;
  top: 850px;
  right: 160px;
  z-index: 20;
}

#hexcolumn_selector {
  position:relative;
  float: left;
  top: 1130px;
  right: -100px;
  z-index: 20;
}

#year_selector {
  position:relative;
  float: left;
  top: 695px;
  right: 148px;
  z-index: 20;
}

#realTimeButtonToolbar {
  position:relative;
  /*float: left;*/
  top: 568px;
  left: 125px;
  z-index: 20;
  width: 300px;
  /*height: 170px;*/
}

#ButtonToolbar {
  position:relative;
  /*float: left;*/
  top: 1725px;
  left: 70px;
  z-index: 20;
  width: 300px;
}
#realTimecolumn_selector {
  position:relative;
  /*float: left;*/
  top: 635px;
  left: 10px;
  z-index: 20;
  /*display: inline-block;*/
}

#realTimedatepicker {
  position:relative;
  /*float: left;*/
  top: 636px;
  left: 90px;
  width: 250px;
  z-index: 20;
}

#Realtime {
  float: left;
  padding-left: 0px;
  border-radius: 5px;
}
#realTimespacertop {
  position:relative;
  top: 20px;
  right: 0px;
  z-index: 20;
  padding-bottom: 40px;
}
#realTimespacerbttm {
  position:relative;
  top: 20px;
  right: 0px;
  z-index: 20;
  padding-bottom: 40px;
}
#Realtime h2 {
  text-align: left;
}

#historical {
  padding-top: 0px;
}

#historical h2 {
  text-align: center;

}

#thebigmap {
  position:relative;
  /*float: left;*/
  bottom: 70px;
  left: 0px;
  /*width: 250px;*/
  z-index: 20;
  float: left;
  padding-left: 5px;
  padding-bottom: 10px;
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}

#hour-widget {
  position: relative;
  top:1425px;
  left:150px;
  z-index: 278;
}

#hour-widget-inside {
  min-width:75px;
}

#historicalmap {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
  float: left;
}

#calendar-title h2{
  position: relative;
  text-align: left;
  bottom: 50px;
}

#hexbin {
  float: left;
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
  height: 600px;
  width: 1360px;
}

#hexbin_label h2{
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

#historicalspacertop {
  position:relative;
  top: 30px;
  right: 0px;
  z-index: 20;
  padding-bottom: 40px;
}

#historicalspacertop h2 {
    text-align: left;
}

#historicalspacerbttm {
  position:relative;
  top: 30px;
  right: 0px;
  z-index: 20;
  padding-bottom: 25px;
}

#historicalspacerbttm h2{
    text-align: left;
}

#historicalScatterplot {
  padding-top: 10px;
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
  float: left;
    height: 600px;
  width: 1366px;
}

#historicaltablespacer {
  height: 1550px;
  width: 1360px;
}
#realTimetablespacer {
  height: 1000px;
  width: 1360px;
}
#Calendar {
  height: 300px;
  width: 1360px;
}
#abNormal_label {
  height: 640px;
}

#abNormal_label h2 {
  color: white;
}

#historicalScatterplot_label {
  position:relative;
  bottom: 1320px;
  right: 0px;
  z-index: 20;
}

#historicalLinegraph {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
  float: left;
}

#HistLineGraph_label {
  padding-bottom: 10px;
}

#HistLineGraph_label h2 {
  position:relative;
  top: 10px;
  right: 0px;
  z-index: 20;

}

#realTimeScatterplot {
  position:relative;
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
  height: 600px;
  width:  1360px;
}

#realTimeLinegraph {
  position:relative;
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
  height: 600px;
  width: 1366px;
}
.spinner {
  top: 300px;
  left: 680px;
}
/*
  Error screen css
*/

#Errors {
  padding-top: 0px;
}

#Errors h2 {
  text-align: left;
}
#errorspacer {
  position:relative;
  top: 20px;
  right: 0px;
  z-index: 20;
  padding-bottom: 30px;
}

#errorspacer h2{
  /*text-align: left;*/
}

#errorspacer2 {
  position:relative;
  top: 20px;
  right: 0px;
  z-index: 20;
  padding-bottom: 30px;
}

#errorspacer2 h2{
  /*text-align: left;*/
}
#errorstable {
  width: 1366px;
  height: 875px;
}

#sort_button {
  float:left;
  /*top: 0px;
  left: 34px;
  z-index: 20;*/
}

#error_fromdate {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  float: left;
  /*position:relative;
  bottom: 24px;
  left: 34px;
  z-index: 20;*/
}

#errSubmitButton {
  float: left;
  padding-left: 15px;
}

#error_fromdatepicker {
  float: left;
  /*position:relative;
  bottom: 31px;
  left: 39px;
  z-index: 20;*/
}

#error_todate {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  float: left;
  /*position:relative;
  bottom: 24px;
  left: 84px;
  z-index: 20;
  */
}

#error_todatepicker {
  float: left;
  /*position:relative;
  bottom: 31px;
  left: 89px;
  z-index: 20;*/
}

#vdsidBargraph {
  float: left;
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}

#errbylane_label h2 {
  position:relative;
  top: 5px;
  left: 0px;
  z-index: 20;
}

#lanesBargraph {
  padding-top: 10px;
  float: left;
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}
