html, body, #map {
  width: 100%;
  height: 1000px;
  margin: 0;
  padding: 0;
}
.stations, .stations svg {
  position: absolute;
}
.stations svg {
  width: 100px;
  height: 30px;
  padding-right: 100px;
  font: 10px sans-serif;
  scroll-behavior: 
}
.stations circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
  transform: scale(1.5);
}