:root {
  --radius:1px;
  --visborder: 2px;
  --viscolor: #d8d8d8;
}
html, body, #map {
  width: 100%;
  height: 1000px;
  margin: 0;
  padding: 0;
}
.stations, .stations svg {
  position: absolute;
}
.stations svg {
  width: 100px;
  height: 30px;
  padding-right: 100px;
  font: 10px sans-serif;
  scroll-behavior:
}
.stations circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
  transform: scale(1.5);
}
.navigation {
  padding-left: 100px;
}

#submitButton {
  float: left;
}


#SubmitButton {
  float: left;
  display: inline-block;
}
#realTimeSubBttn {
  float: left;
}

#column_selector {
  float: left;
  display: inline-block;
}
#realTimecolumn_selector {
  float: left;
}

#lowdatetimepicker {
  float: left;
}
#highdatetimepicker {
  float: left;
}
#realTimedatepicker {
    float: left;
}

#hexcolumn_selector {

  float: left;
    display: inline-block;
}
#year_selector {
    float: left;
}
#realTimecolumn_selector {
  position:relative;
  width: 200px;
  float: left;
  left: 10px;
  top: 500px;
  z-index: 20;
}

#Realtime {
  float: left;

  padding-left: 0px;
  border-radius: 5px;
}
#Realtime h2 {
  text-align: center;
}

#historical {
    padding-top: 0px;
}

#historical h2 {
  text-align: center;
  padding-top: -10px;
}

#Errors h2 {
    text-align: center;
}

#thebigmap {
border-radius: var(--radius);
border: var(--visborder) solid var(--viscolor);
}

#Calendar {

}

#historicalmap {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);

}

#historicalhexbin {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}

#historicalScatterplot {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}

#historicalLinegraph {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}

#realTimeScatterplot {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}

#realTimeLinegraph {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}

#vdsidBargraph {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}

#lanesBargraph {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}
