:root {
  --radius:1px;
  --visborder: 1px;
  --viscolor: #d8d8d8;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#appheader {
  padding-top: 0px;
  height: 210px;
}

#maintitle h1 {
  padding-bottom: 10px;
  font-size: 50px;
  font: "Ariel";
}

#subtitle h2 {
    padding-top: 100px;
    text-align: center;
    font: "Ariel";
    font-size: 30px;
}

.main_container {
  padding-top: 0px;
}

#locationstuff {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 25%;
  height: 1800px;
}

#well {
  padding-left: 10px;
  padding-top: 0px;
  float: right;
  width: 75%;

}

#wellContainer {
  width: 98%;
  padding-top: -1px;
  padding-left: 0px;
  height: 3400px;
  border-radius: var(--radius);
  border-left: var(--visborder) solid var(--viscolor);
  border-radius: var(--radius);
  border-right: var(--visborder) solid var(--viscolor);
  border-radius: var(--radius);
  border-bottom: var(--visborder) solid var(--viscolor);
}

#navigation {
  font-size: 180%;
	padding-top: 0px;
  padding-left: 0px;
	width: 98%;
  font: "Ariel";
  position:relative;
  top: 10px;
  color: var(--viscolor);
}

#widgets {
padding-top: 5px;
padding-left: 10px;
height: 50px;
}

#realTimeSubBttn {
  padding-left: 0px;
}

#realTimecolumn_selector {
  /*position:relative;
  width: 200px;
  float: left;
  left: 10px;
  top: 500px;
  z-index: 20;*/
}

#container {
  float: left;
	padding-top: 40px;
  padding-left: 10px;
  /*background-color: #fdfcfc !important;*/
}
