:root {
  --radius:1px;
  --visborder: 2px;
  --viscolor: #d8d8d8;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#appheader {
  /*background-color: #44d9e6; rgb(235,258,255); #63bdce;*/
  background: linear-gradient(to bottom , #44d9e6, #00828d);
  padding-top: 0px;
  height: 200px;
}


#maintitle {
  font-size: 200;
  font: "Ariel";
}
#title {
  font-size: 200;
  font: "Ariel";
}


#subtitle {
  /*  padding-left: 34%; */
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: #7FDBFF;
}

#locationstuff {
  background-color: #ddd;
  float: left;
  width: 25%;
  height: 2072px;
}
#frame {
  border-radius: var(--radius);
  border: var(--visborder) solid var(--viscolor);
}
#well {

  float: right;
  width: 75%;
  background-color: #f9f3f3 !important;

}

#navigation {

  color: #3D9970;
  font-size: 180%;
	padding-top: 0px;
  padding-right: 0px;
	width: 500px;
  font-family: "Times New Roman", Times, serif;
}



#widgets {

}

#container {
  float: left;
	padding-top: 10px;
  padding-left: 0px;
  background-color: #fdfcfc !important;
}
